/* Layout Goals
1. banner to display
2. seperate search/save links
3. Try to format similarly to layout given
4.
5. */
.wrapper {
 
  background-image: url("https://www.ilovewallpaper.co.uk/images/muriva-fashion-library-wallpaper-silver-139502-p3071-7051_image.jpg")
}
.jumbotron {
text-align: center;

}

.navbar {
  color: white;
  font: bold;
  font-family: 'Playfair Display', serif;
}






















/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
